{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ContactNo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Number</th>
                <td>{{ entity.number }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('contactno') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('contactno_edit', { 'id': entity.number }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
